@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("components/container.css");
@import url("components/chambre.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/environnement.css");

body {
	font-family: font-family: 'Marck Script', cursive;
	font-size: 18px;
	margin: 0px;
}

h1, h2, h3 {
font-family: 'Raleway', sans-serif;
}
a {
	text-decoration: none;
	font-family: font-family: 'Marck Script', cursive;
}